.tjmThemeSwitchButton{
	position: absolute;
	position: fixed;
	right: 5px;
	top: 5px;
}
.tjmThemeSwitchDialog{
	background: black;
	color: white;
	.closeBtn{
		right: 0;
		position: absolute;
		top: 0;
		b{
			position: absolute;
			left: -30em;
		}
		&:after{
			content: 'X';
		}
	}
}
/*--styles for non-dialog dialog */
div.tjmThemeSwitchDialog{
	height: 50%;
	left: 25%;
	padding: 1em;
	position: fixed;
	top: 20px;
	width: 50%;
}
